body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav, .sidenav, footer {
    background-color: #121612 !important;
  
}

.sidenav li a {
    color: #F4F4F6 !important;
    font-family: Gugi;
    font-size: 20px !important;
}

nav a {
    color: #F4F4F6 !important;
    font-family: Gugi;
    margin-right: 2em;
}

.brand-logo {
    font-family: Major Mono Display;
    margin: auto;
}

ul {
    padding-right: 15em;
}

li {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

body {
    background-color: #121612;
    opacity: 1;
    background-image: radial-gradient(#45455f 2px, #121612 2px);
    background-size: 40px 40px;
}

h1 {
    color: #F4F4F6 !important;
    padding-top: 2em;
    font-family: Raleway;
}

p   {
    color: #6F6FC3 !important;
    padding-top: 2em;
    font-size: 40px;
    font-family: Gugi;
}

h3 {
    color: #F4F4F6 !important;
    padding-top: 2em;
    font-family: Raleway;
    margin-top: 2em;
    line-height: 115% !important;
}

h3 a {
    color: #6F6FC3 !important;
    padding-top: 2em;
    font-family: Raleway;
}

h4 {
       color: #D9D9D3 !important;
       font-family: Raleway;
}

.card-content p {
       color: #F4F4F6 !important;
       font-family: Raleway;
       font-size: 20px;
}

.card {
     background-color: #45455F !important;
     ;
}

.card-title a {
    color: #F4F4F6 !important;
    font-family: Gugi;
    padding: 1em;
}

.card-action a {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}



